Django
djangorestframework

# Test requirements
pytest-django
pytest
pytest-cov
flake8

# wheel for PyPI installs
wheel
twine # for uploading to PyPI

# MkDocs for documentation previews/deploys
mkdocs
